// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #52A3CC;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

}

.widget-clock h1 {

  font-size: 25px;

}

.widget-clock h2 {

  font-size: 45px;

}
